/kicad/diamond-backups
kicad/fp-info-cache
kicad/Diamond.bak
kicad/~diamond.kicad_pcb.lck
spice/diamond.fft
spice/diamond.op.raw
spice/diamond.raw
spice/Draft24.log
spice/Draft24.op.raw
spice/Draft24.raw
spice/Draft24.net
spice/diamond.log
kicad/gerber/diamond-PTH.zip
